body {
	background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(237,246,250,1) 100.2% );
}

img {
	max-width: 100%;
	transition: transform .5s ease;
}

img:hover {
  transform: scale(1.05);
}